<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand " href="/"><img class="nav-image" src="assets/pokeball.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="is-active">Catalog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/basket" routerLinkActive="is-active">Basket</a>
        </li>
      </ul>

      <div class="px-3">
        Number of items : {{cardsCount$ | async}}
      </div>
      <div class="px-3">
        Total Price : {{totalPrice$ | async | number : '1.2-2' }}
      </div>
      <div class="px-3">
        <button type="button" class="btn btn-warning " (click)="clearBasket()">
          Clear basket
        </button>
      </div>
      <div class="px-3">
        <button type="button" class="btn btn-success ">
          Checkout
        </button>
      </div>
    </div>
  </div>
</nav>
